# Connect to Supabase via connection pooling
DATABASE_URL=""

# NextAuth Configuration
NEXTAUTH_URL="http://localhost:3000"
AUTH_SECRET=""

# GitHub OAuth
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Brevo API Settings
BREVO_API_KEY=""
BREVO_FROM_EMAIL=""
BREVO_FROM_NAME=""

# Goofle Api key
GOOGLE_GENERATIVE_AI_API_KEY=""

# Mistral AI API Key
MISTRAL_API_KEY=""

# LIVEBLOCKS PUBLIC KEY
NEXT_PUBLIC_LIVEBLOCKS_PUBLIC_KEY=
