shamefully-hoist=true
public-hoist-pattern[]=*next*
public-hoist-pattern[]=*webpack*
public-hoist-pattern[]=*types*
registry=https://registry.npmjs.org/
strict-peer-dependencies=false
legacy-peer-deps=true
